# remove output files
db/
incremental_db/
output_files/
*.rdr
*.qws
*.bak
*.log
*.flock

# ModelSim/Questa project files
simulation/
*.mpf
*.mpp
modelsim.ini
transcript
work/
 

# backup files
*.bak

# keep vhdl testbenches
!Simulation/*.vhd
!Simulation/*.vhdl
